*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(31, 31, 53);
    color: #fff;
    border: 1px solid #fff;
}
.timer-box{
    display: flex;
    font-size: 2.5rem;
    border: 1px solid #fff;
 justify-content: center;


}
.timer-box span{
    font-size: 2rem;
    position: relative;
    top: 50px;
    height: 20px;
}
.main{
    border: 1px solid #fff;
}
button{
    padding: 5px 20px;
    font-size: 1rem;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
   margin: 5px 10px;
    
}
.btns{
    display: flex;
    justify-content: center;
    
}
.main button:nth-child(1){
    background-color: rgb(204, 0, 255);
}
.main button:nth-child(2){
    background-color: rgb(255, 0, 68);
}
.main button:nth-child(3){
    background-color: rgb(30, 52, 195);
}
@media screen and (max-width: 425px){
    .timer-box{
        font-size: 1.5rem;
    }
    
    .timer-box span{
        font-size: 1.2rem;
        top: 30px;
    }
    button{
        font-size: .8rem;
    }
    
}
